footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

footer.hide {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
}

.socials-section {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.socials-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.socials-section a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: width 0.3s ease;
}

.socials-section a:hover::after {
    width: 100%;
}

.socials-section a i {
    font-size: 3rem;
    color: #fff;
    transition: color 0.3s ease;
}

.socials-section a:hover i {
    color: #fff;
}

@media (min-width: 768px) {
    footer {
        width: fit-content; 
        left: 50%;
        bottom: 20px; 
        transform: translateX(-50%);
        border-radius: 15px; 
        padding: 8px 32px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    footer.hide {
        transform: translateX(-50%) translateY(150%);
    }
}
