:root {
  --background-dark: #202029;
  --text-light: #dadada;
  --scrollbar-thumb: #3d3d3d;
  --scrollbar-thumb-hover: #9d9d9d;
  --file-box-background: rgba(32, 32, 41, 0.46);
  --file-button-hover: rgba(218, 218, 218, 0.2);
  --remove-button-color: #f44336;
}
* {
  font-family: "Poppins";
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--background-dark);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--scrollbar-thumb);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
body {
  font-family: sans-serif;
  margin: 20px;
}
#tool-bar {
  display: flex;
  position: fixed;
  align-items: left;
  vertical-align: middle;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 24px;
}
input[type="file"] {
  display: none;
}
.file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.file-upload:hover {
  background-color: var(--file-button-hover);
  opacity: 0.8;
}
#file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: calc(64px + 1%);
  padding-bottom: 1%;
}
@media (min-width: 800px) {
  #file-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.file-box {
  color: var(--text-light);
  background: var(--file-box-background);
  border: 1px solid rgba(218, 218, 218, 0.46);
  padding: 24px 0 0 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.file-box div:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.file-button-container {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}
.file-button {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  outline: none;
  color: #fff;
  background-color: transparent;
  border-top: 1px solid rgba(218, 218, 218, 0.46);
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 100%;
  height: 32px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  border-radius: 0;
  cursor: pointer;
}
.file-button:hover {
  background-color: var(--file-button-hover);
  opacity: 0.8;
}
.remove-button {
  background-color: var(--remove-button-color);
}
#file-view-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 29, 0.5);
  z-index: 1000;
  overflow: auto;
}
#file-content {
  background-color: #fff;
  margin: 50px auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  position: relative;
}
#file-text {
  margin-top: 32px;
  overflow-x: hidden;
  text-overflow: wrap;
}
#back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--background-dark);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
