/*
*
*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Poppins';
}

nav {
  display: flex;
  position: fixed;
  overflow: hidden;
  flex-direction: row;
  align-self: center;
  align-items: center;
  vertical-align: center;
  justify-content: space-between;

  top: 0;
  left: 0;
  z-index: 10;

  min-width: 100vw;
  width: 100vw;
  max-width: 2160px;

  min-height: 68px;
  height: 1.25vh;
  max-height: 168px;

  border-radius: 0px;
  border-top: 0 solid #000;
  border-bottom: 1px solid #000;
  border-left: 0 solid #000;
  border-right: 0 solid #000;
}

@media only screen and (min-width: 2160px) {
  .alert-banner {
    top: 98px;
    padding: 3ch calc(3% - 32px);
  }
  nav,.alert-banner {
    top: 16px;
    left: 50%;
    transform: translate(-50%,0);

    min-width: 868px;
    width: 100%;
    max-width: 1368px;

    border-radius: 8px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
}

#nav-left-section {
  display: flex;
  position: absolute;
  text-align: left;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-start;
  top: 0;
  left: 5%;
  width: calc(47% - 32px);
  height: 100%;
}

#nav-left-section>* {
  font-size: 24px;
  text-align: left;
  margin-right: 3ch;
}

#nav-left-section>h1 {
  font-size: 18px;
}

#dexter-loader {
  z-index: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#nav-right-section {
  display: flex;
  position: absolute;
  text-align: right;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-end;
  top: 0;
  right: 5%;
  width: calc(47% - 32px);
  height: 100%;
}

#nav-right-section>* {
  font-size: 24px;
  text-align: right;
  margin-left: 3ch;
}

#nav-right-section>i {
  cursor: pointer;
}

#nav-title {
  user-select: none;
  display: none;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 300;
  color: #ffffff;
}

@media only screen and (min-width: 720px) {
  #nav-title {
    display: flex;
  }
}

.glassy {
  background: rgba(20, 20, 29, 0.6);
  box-shadow: 1px 4px 10px rgba(20, 20, 29, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(20, 20, 29, 0.6);
}

:root {
  --hover-bg: #29292929;
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: default;
  font-weight: normal;
  transition: .75s ease;
}

body {
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  flex-direction: column;

  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: 1.5;

  padding-right: 10px;

  color: #dfdfdf;
  background-color: #111;
}

main {
  z-index: 1;

  display: flex;
  flex-direction: column;

  width: fit-content;
  height: fit-content;

  color: #dfdfdf;
  background-color: transparent;
}

main>h1,main>h2 {
  user-select: none;
  max-width: 98vw;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202029;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #3d3d3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}

img,svg,i,h1,h2,h3,button {
  user-select: none;
  text-align: center;
  background-color: transparent;
  transition: .33s ease-in-out;
}

.radialGlow {
  background: linear-gradient(
    to right,
    #666666 0%,
    #999999 50%,
    #bbbbbb 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: radialGlowAnimation 3s ease-in-out infinite alternate;
}

@keyframes radialGlowAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media only screen and (min-width: 2160px) {
  #nav-container {
    top: 16px;
    left: 50%;
    transform: translate(-50%,0%);

    min-width: 868px;
    width: 100vw;
    max-width: 1368px;

    border-radius: 10px !important;
  }
}

.alert-banner {
  user-select: none;
  pointer-events: none;
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-start;

  top: 78px;
  left: 50%;
  transform: translate(-50%,0%);
  width: 90%;
  min-height: 3ch;
  height: fit-content;
  padding: 2ch 3ch;

  font-size: 15px;
  color: rgab(0,0,0,1);
  background: #ff666699;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 243, 0, 0.3);
}

.alert-banner>* {
  align-self: cente;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  text-align: left;
  text-shadow: 0px 0px 3px #000;
}

#alert-banner-icon {
  font-size: 18px;
  font-weight: 600;
  padding-left: 0;
}

#alert-banner-title {
  font-size: 18px;
  font-weight: 600;
  padding-left: 3ch;
}

#alert-banner-text {
  width: 100%;
  margin-top: 2ch;
  font-size: 16px;
  font-weight: 400;
}

.dexter-icon {
  z-index: 1;
  display: flex;
  overflow: visible;
  cursor: pointer;
  pointer-events: all;
  flex-direction: row;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.dexter-icon-D {
  z-index: 1;
  color: #66f;
  font-size: 24px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 3px #000;
}

.dexter-icon.active>.dexter-loader>.dexter-icon-D {
  color: #fff;
}

.dexter-icon-spinner {
  z-index: 2;
  display: flex;
  overflow: visible;
  pointer-events: none;
  flex-direction: row;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background: transparent;
  width: 52px;
  height: 52px;
}

.dexter-icon.active>.dexter-loader>.dexter-icon-spinner {
  animation: spin 3s linear infinite;
  animation-delay: 1.125s;
}

.dexter-icon-O {
  z-index: 10;
  color: #fff;
  font-size: 8px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-top: -4px;
  transition: 1s ease-in-out;
  text-shadow: 0px 0px 3px #000;
}

.dexter-icon-O.active {
  color: #66f;
  margin-top: -3px;
  margin-left: -48px;
}

h2 {
  text-align: center;
  color: #ffffffaa;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -1px;
  width: 100%;
  margin: 5vh auto 0 auto;
}

h3 {
  text-align: center;
  color: #ffffff88;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -1px;
  width: 100%;
  margin: 0 auto 10vh auto;
}

p {
  font-family: "Poppins";
  text-wrap: balance;
  color: inherit;
  margin-bottom: 13px;
}

button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  min-width: 126px;
  padding: 8px 24px;
  margin: 6px 12px 6px 0;

  color: #fff;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  text-transform: unset;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  transition: all 0.3s ease-in-out;

  background: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-column-gap: 0.66rem;
       column-gap: 0.66rem;
}

.hero {
  user-select: none;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;

  margin: 0 0 0 0;
  padding: 7.5vh 0 5vh 0;
  text-shadow: 1px 1px 10px #000;
}

.hero>img {
  user-select: none;
  width: 100%;
  height: 33vh;
}

.hero>svg {
  user-select: none;
  width: 100%;
  height: 25vh;
}

.hero>h2 {
  user-select: none;
  font-size: clamp(13px, 1.25vw, 22px);
}

.about-us {
  text-align: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 48px;
}

.about-us,
.about-values {
  font-size: 16px;
  width: 100%;
  max-width: 1300px;
}

.about-us > .about-content > h2 {
  text-align: center;
  width: 100%;
  margin: 0 0 32px 0 !important;
  padding: unset !important;
}

.about-us > .about-values > h2 {
  text-align: center;
  width: 100%;
  margin: 32px 0 0 0 !important;
  padding: unset !important;
}

.about-us > .about-content > p {
  padding: 0 clamp(8px, 10vmin, 420px) !important;
}

.about-us > .about-values > ul > li {
  padding: 8px clamp(8px, 10vmin, 420px) !important;
}

.about-us > .about-values > ul > li > strong {
  font-family: "Poppins";
  font-weight: 600;
}

.about-values ul {
  list-style: none;
  padding: 32px;
}

.about-values li {
  width: 100%;
  padding: 32px;
  border-bottom: 1px solid #dadada66;
}

.about-values li:last-child {
  border-bottom: none;
}

.about-values li:hover {
  background-color: var(--hover-bg);
}

.signature {
  color: #666;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.signature>img {
  width: 286px;
  height: 286px;
}

.about-bashful-sh {
  text-align: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 48px;
}

.about-bashful-sh .about-content {
  font-size: 16px;
}

.about-bashful-sh h2 {
  text-align: center;
  width: 100%;
  margin: unset !important;
  padding: unset !important;
}

.about-bashful-sh p {
  padding: 16px clamp(8px, 10vmin, 420px) !important;
}

.bashful-sh-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.glass {
  background: rgba(20, 20, 29, 0.6);
  border-radius: 6px;
  box-shadow: 1px 4px 10px rgba(20, 20, 29, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(20, 20, 29, 0.6);
}

.socials-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: space-evenly;

  width: 100%;
  max-width: 666px;
  margin: 0 auto 12.5vh auto;

  color: #DADADA;
  font-size: 48px;
  text-decoration: none;
}

.socials-section>a {
  color: #DADADA;
}

#dexter-waveform {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  opacity: 0;

  width: 100%;
  height: 100%;

  background-color: #20202933;
  transition: .33s ease-in-out;
}

#dexter-voice-button {
  color: #ddd;
  text-shadow: 0 0 0 #000;
  transition: .33s ease-in-out;
}

#dexter-voice-button.recording {
  color: #66f;
  text-shadow: 1px 1px 10px rgba(65, 136, 255, 1);
}

#dexter-voice-button.muted {
  color: #f66;
  text-shadow: 1px 1px 10px rgba(255, 136, 65, 1);
}

.hide {
  pointer-events: none !important;
  opacity: 0;
  transition: 0.33s ease-in-out;
}

.remove {
  display: none;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#dexter-webview {
  cursor: pointer;
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
  outline: none;
}

#dexter-codeview {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
  outline: none;
}

#dexter-fileview {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
  outline: none;
}

#tab1a,
#tab2a,
#tab3a {
  white-space: pre-wrap;
  padding: 16px;
}
#tab1a>h2,
#tab2a>h2,
#tab3a>h2 {
  margin-top: unset;
}
#tab1a>hr,
#tab2a>hr,
#tab3a>hr {
  margin-bottom: 12px;
}
#dexter-user-notes ul,
#dexter-assistant-notes ul,
#dexter-organization-notes ul {
  list-style-type: disc;
  margin: 4px 0 0 0;
}
#dexter-user-notes strong,
#dexter-assistant-notes strong,
#dexter-organization-notes strong  {
  font-weight: bold;
}
#dexter-user-notes em,
#dexter-assistant-notes em,
#dexter-organization-notes em {
  font-style: italic;
}
#dexter-user-notes strong, #dexter-user-notes h1, #dexter-user-notes h2, #dexter-user-notes h3, #dexter-user-notes h4, #dexter-user-notes h5, #dexter-user-notes h6,
#dexter-assistant-notes strong, #dexter-assistant-notes h1, #dexter-assistant-notes h2, #dexter-assistant-notes h3, #dexter-assistant-notes h4, #dexter-assistant-notes h5, #dexter-assistant-notes h6,
#dexter-organization-notes strong, #dexter-organization-notes h1, #dexter-organization-notes h2, #dexter-organization-notes h3, #dexter-organization-notes h4, #dexter-organization-notes h5, #dexter-organization-notes h6 {
  margin: 4px 0 0 0;
  font-weight: bold;
}
#dexter-user-notes p,
#dexter-assistant-notes p,
#dexter-organization-notes p {
  margin: 4px 0 0 0;
  padding: 0 0 0 0;
}
#dexter-user-notes code,
#dexter-assistant-notes code,
#dexter-organization-notes code {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: monospace;
  background-color: transparent;
}

#global-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101019FD;
}

#global-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;

  margin: 0 auto;
  padding: 86px 0 0 0;

  min-width: 200px;
  width: 100vw;
  max-width: 1300px;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

#global-menu-content>h2 {
  width: 90%;
  text-align: left;
  font-size: 15px;
  font-family: Poppins;
  color: #dadada99;
}

@media only screen and (min-width: 1368px) {
  #global-menu-content {
    min-width: 1368px !important;
    width: 1368px !important;
    max-width: 1368px !important;
  }
}

.ecoin-profile-header {
  width: 100%;
  margin-top: 2.5vh;
}

.ecoin-profile-container>* {
  user-select: unset;
  white-space: pre;
}

.ecoin-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 0;
}

.ecoin-profile-title {
  text-align: left;
  font-family: Poppins;
  font-size: 15px;
  margin: 0 0 0 0;
  padding: 2.5vh 0 0 0;
}

.ecoin-profile-info {
  text-align: left;
  font-family: Poppins;
  font-size: 32px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.ecoin-profile-subinfo {
  text-align: left;
  font-family: Poppins;
  font-size: 18px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #909090;
}

.ecoin-profile-subtitle {
  text-align: left;
  font-family: Poppins;
  font-size: 12px;
  margin: 0;
  padding: 0 0 5vh 0;
  color: #606060;
}

.ecoin-profile-container>* {
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 1368px) {
  .ecoin-profile-container {
    width: fit-content;
    padding: 32px 128px;
  }
  .ecoin-profile-container:first-child>* {
    text-align: left;
  }
  .ecoin-profile-container:nth-child(3)>* {
    text-align: center;
  }
  .ecoin-profile-container:last-child>* {
    text-align: right;
  }
  .ecoin-profile-header {
    display: flex;
    flex-direction: row;
  }
}

.ecoin-transactions-container {
  width: 100%;
  height: 100%;
  background-color: #202029;
}

.ecoin-profile-tables-title {
  color: #9a9a9a;
  text-align: left;
  width: calc(90% - 32px);
  margin: 0 0 12px 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
}

.ecoin-profile-table {
  overflow: hidden;
  width: calc(100% - 128px);
  min-height: 178px;
  padding: 15px 0 15px 0;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: 0px 0px 5px 5px #202029 inset;
}

.ecoin-profile-table-row {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  text-align: left;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
  height: 48px;
  margin: auto auto;
  padding: 14px;
  font-family: Poppins;
  font-size: 14px;
  border-bottom: 1px solid #dadada66;
}

.ecoin-profile-table-row:hover {
  background-color: #6a6a6a6a;
}

.ecoin-profile-table-row>p {
  text-align: right;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  white-space: pre;
}

.ecoin-profile-table-row>p:first-child {
  text-align: left !important;
}

.ecoin-profile-table-row:last-child {
  border-bottom: unset;
}

#wallet-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: auto 0 0 0;
  background-color: #00000000;
}

#wallet-options>button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
  width: 100%;
  height: 128px;
  padding: 0 5%;
  margin: 0;
  background: rgba(20, 20, 29, 0) !important;
  box-shadow: 1px 4px 10px rgba(20, 20, 29, 0) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(20, 20, 29, 0) !important;
}

#wallet-options>button:hover, #user-llm-text-submit:hover {
  background: rgba(120, 120, 129, 0.129) !important;
  box-shadow: 1px 4px 10px rgba(120, 120, 129, 0.129) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(120, 120, 129, 0.129) !important;
}

#wallet-options>button>i {
  width: fit-content;
  height: fit-content;
  margin: 0 0 0 auto;
  padding: 0;
  vertical-align: middle;
  font-size: 13px;
}

#wallet-options>button>p {
  width: fit-content;
  margin: 0 auto 0 0;
  padding: 0;
  vertical-align: middle;
  font-size: 16px;
}

@media only screen and (min-width: 1368px) {
  #wallet-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 0 86px 0;
  }
  #wallet-options>*,#wallet-options>*>* {
    width: 100%;
    text-align: center;
  }
}

#no-eid-cont>* {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  align-self: center;
}

#no-eid-cont>h1 {
  margin: 6px auto !important;
}

#no-eid-cont>p {
  margin: 6px auto !important;
}

#no-eid-cont>textarea {
  height: 60vh;
  padding: 6px;
  font-size: 13px;
  color: #dadada;
  background-color: rgba(0,0,0,.33);
  border-radius: 6px;
}

#no-eid-btns>*, #no-eid-cont>button {
  width: 90%;
  max-width: 600px;
  height: 64px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  margin: 16px;
}

#no-eid-btns>*:hover, #no-eid-cont>button:hover {
  box-shadow: 1px 4px 10px #6a6a6a;
}

.c {
  flex-direction: column;
}

.r {
  flex-direction: row;
}

.cd {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  align-self: center;
  margin: auto auto;
}

#user-llm-chat-log {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 1368px;
  height: 100%;
  margin-top: 32px;
  background-color: transparent;
}

#user-llm-input-bar {
  width: 100%;
  height: fit-content;
  max-width: 1368px;
  padding: 16px;
}

#user-llm-text-input {
  resize: none;
  width: 90%;
  max-width: 1368px;
  min-height: 48px;
  height: 10vh;
  max-height: 50vh;

  padding: 16px;

  text-align: left;
  font-size: 14px;

  color: #dadada;
  border-radius: 16px;
  border: 1px solid #dadada33;
  background-color: rgba(20,20,29,.95);
}

#user-llm-text-submit {
  width: 48px !important;
  height: 100% !important;

  margin: 8px 16px;

  text-align: center !important;
  font-size: 32px !important;

  color: #dadada;
  border-radius: 16px;
  border: unset;
  background-color: rgba(20,20,29,.95);
}

.idle-indicator {
  text-shadow: 1px 1px 48px #30306900;
}

.voice-indicator {
  text-shadow: 1px 1px 48px #303069;
}

.processing-indicator {
  text-shadow: 1px 1px 48px #693030;
}

.thinking-indicator {
  text-shadow: 1px 1px 48px #693030;
}

.speaking-indicator {
  text-shadow: 1px 1px 48px #303069;
}

.text-chat-message-bubble {
  text-align: left;
  width: 90%;
  max-width: 720px;
  height: fit-content;
  padding: 13px 26px;
  border: 1px solid #dadada33;
  border-radius: 6px;
}

.user-text-chat-message-bubble {
  margin: 28px 0 28px auto;
  color: #fff;
  background-color: #101019;
}

.dexter-text-chat-message-bubble {
  margin: 28px auto 28px 0;
  color: #fff;
  background-color: #202029;
}
