/* Local Font Definitions */

/* Inter is removed as a local asset to prevent decoding errors. 
   We use the system stack in the main CSS. */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('/static/assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/static/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
}
