<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Easter Company</title>

  <!-- SEO Meta Tags -->
  <meta name="description" content="Artificial Intelligence &amp; Developer Tooling focused Software Company specialising in Engineering, Education, Entertainment, and Enterprise sectors. Based in the Highlands of Scotland, and best known for their Dexter &amp; Bashful products.">
  <meta name="revised" content="2025-12-26">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Easter">
  <meta name="theme-color" content="#050507">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Easter Company">
  <meta property="og:description" content="Artificial Intelligence &amp; Developer Tooling focused Software Company specialising in Engineering, Education, Entertainment, and Enterprise sectors. Based in the Highlands of Scotland, and best known for their Dexter &amp; Bashful products.">
  <meta property="og:url" content="https://easter.company">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://easter.company/static/meta/preview-banner.jpg?last_build=2e1f1854">
  <meta property="fb:app_id" content="1541540286236316">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Easter Company">
  <meta name="twitter:description" content="Artificial Intelligence &amp; Developer Tooling focused Software Company specialising in Engineering, Education, Entertainment, and Enterprise sectors. Based in the Highlands of Scotland, and best known for their Dexter &amp; Bashful products.">
  <meta name="twitter:image" content="https://easter.company/static/meta/preview-banner.jpg?last_build=2e1f1854">
  <meta name="twitter:site" content="@eastercompany">
  <meta name="twitter:creator" content="@eastercompany">

  <!-- Favicons and Icons -->
  <link rel="icon" type="image/png" href="/static/meta/favicon-96x96.png?last_build=2e1f1854" sizes="96x96">
  <link rel="icon" type="image/svg+xml" href="/static/meta/favicon.svg?last_build=2e1f1854">
  <link rel="shortcut icon" href="/static/meta/favicon.ico?last_build=2e1f1854">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/meta/apple-touch-icon.png?last_build=2e1f1854">
  <link rel="manifest" href="/static/meta/site.webmanifest?last_build=2e1f1854">

  <!-- Canonical URL -->
  <link rel="canonical" href="https://easter.company">

  <script>
    if (window.location.protocol === 'http:' && window.location.hostname === 'easter.company') {
      window.location.replace('https://' + window.location.hostname + window.location.pathname + window.location.search);
    }
  </script>
