/* easter.company/source/css/views/home.css */

.widget.vertical-split {
  display: flex;
  flex-direction: row;
  padding: 0; /* Remove default padding from widget */
}

@media (max-width: 900px) {
  .widget.vertical-split {
    flex-direction: column;
  }
}

.widget-text-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-video-content {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-left: 1px solid var(--glass-border);
  min-height: 300px;
}

@media (max-width: 900px) {
  .widget-video-content {
    border-left: none;
    border-top: 1px solid var(--glass-border);
  }
}

.widget-video-content video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
